<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Consumption API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href="/static/style.css">
<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
</head>

<body class="body">
  <div style="margin-left: 1.5% ;">
  <img src='/static/aviconn.png' align="left" width="45" height="45" />
  </div>
  <br>
  <br>
  <br>
 <div class="login" align='center'>
	<h1 align='center' style="color:rgb(0, 0, 0);">UNIT CONSUMPTION<br>FORECAST</h1>
  
  <br>
  <p style="color:rgb(13, 185, 197);">Enter the range of dates below to predict the unit monthly consumption</p>
  <br>
  <br>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post" style="font-size:medium; word-spacing: 1.5pt;">
      <label for="start">Start Date:</label>
    	<input type="text" name="date_initial" placeholder="YYYY-MM-DD" required="required" id="start"/><br><br>
      <label for="end">End Date:</label>
      <input type="text" name="date_final" placeholder="YYYY-MM-DD" required="required" id="end" /><br>
      <br>
        <button type="submit" class="btn btn-primary btn-block btn-large";">Predict</button>
    </form>

   <br>
   <br>

   <br>
  </div>
  <div align="center">
    <img src = "{{ url_for('static',filename='plot.png')}}"/>
    <br>
    <br>
    <p style="color: rgb(13, 185, 197);">{{ prediction_text }}</p>
    <br>
    <table class="table" align="center">
      <tr class="table__header">
        {% for headers in headings %}
        <th class="table__cell">
          {{ headers }}
        </th>
        {% endfor %}
      </tr>
      {% for row in tup %}
      <tr class="table__row">
        {% for cell in row %}
        <td class="table__cell">{{ cell }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    <br>
  </div>
  <div style="background-color: rgb(255, 255, 255);" align="center">
    <img src='/static/widai.png' width="200" height="100"/>
  </div>
</body>
</html>
